/* Home.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movie-section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.view-all-button {
  background-color: #d80707;
  color: #e41414;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.view-all-button:hover {
  background-color: #0056b3;
}

/* Slider styles */
.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.movie-card {
  flex: 0 0 auto;
  margin-right: 20px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.mainBody{
  background-color: black;
}