/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0e0d0d;
  color: white;
}

.logo-container {
  flex: 1;
}

.logo {
  margin: 0;
}

.search-container,
.user-actions {
  flex: 2;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button,
.user-actions button,
.user-actions a {
  padding: 8px 15px;
  background-color: rgba(226, 20, 20, 0.959);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.nav-container {
  flex: 3;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 5px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: rgba(226, 20, 20, 0.959);
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #080808;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #0b0a0a;
}

.user-icon,
.dropdown-icon {
  color: white;
  margin-left: 5px;
}


/* Header.css */

.header {
    background-color: #333;
    color: white;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}

.dropdown-menu {
    background-color: #e21414;
    word-break: break-all;
}

.dropdown-item {
    color: black;
    display: block;
    white-space: nowrap;
}

.user-icon {
    color: white;
    margin-right: 5px;
}


