.footer {
    background-color: #292929;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info {
    flex: 1;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .feedback-form {
    flex: 1;
  }
  
  .feedback-form h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .feedback-form input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .feedback-form button.btn {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-form button.btn i {
    margin-left: 5px;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6b6b;
    color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
  }
  